{% include'admin/comp/header.html.twig' %}
{% include'admin/comp/navbar.html.twig' %}
{% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
{% endfor %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

{% include'admin/comp/footer.html.twig' %}

