{% include'public/comp/header.html.twig' %}
{% include'public/comp/navbar.html.twig' %}
        {% for message in app.flashes('success') %}
                <div class="alert alert-success" role="alert">{{ message }}</div>
        {% endfor %}
        {% block body %}{% endblock %}

                {% block javascripts %}{% endblock %}


{% include'public/comp/footer.html.twig' %}

