{% extends 'public/comp/base.html.twig' %}
{% block body %}
    <div id="header1" class="container-fluid header1 justify-content-center"></div>
<div class="row justify-content-around">
    <div class="col-md-4 p-4">
        <div class="card p-4" >
            <img class="card-img-top" src="https://s1.lmcdn.fr/multimedia/031400570797/573af53b2959b/produits/papier-peint-vinyle-sur-intisse-alkane-gris-blanc.jpg?$p=hi-w795" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 p-4">
        <div class="card p-4" >
            <img class="card-img-top" src="https://static.etoffe.com/141884-extra_large/papier-peint-floresta-casamance.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

</div> {#one part#}
    <div class="row justify-content-around">
        <div class="col-md-4 p-4">
            <div class="card p-4" >
                <img class="card-img-top" src="https://s1.lmcdn.fr/multimedia/031400570797/573af53b2959b/produits/papier-peint-vinyle-sur-intisse-alkane-gris-blanc.jpg?$p=hi-w795" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 p-4">
            <div class="card p-4" >
                <img class="card-img-top" src="https://static.etoffe.com/141884-extra_large/papier-peint-floresta-casamance.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

    </div> {#sec part#}
{% endblock %}